infra-resources.sh
temp_modules
.vscode

# Terraform state files
*.tfstate
*.tfstate.*


# Terraform plan files
*.tfplan

# Terraform configuration directory
.terraform/

# Crash log files
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# # Variable files
# *.tfvars
# *.tfvars.json

# Lock files
.terraform.lock.hcl
test.userdata.sh
